*{
    margin:0;
    padding:0;
}

@media only screen and (max-width: 1250px){
    .cont-main{
        background-color:azure;
        max-width: 1200px;
    }
    .cont-black-one, .cont-black-two, .cont-black-three{
        background-color: black;
        padding: 1rem;
        margin: 1rem;
    }
    .cont-one{
        display: flex;
        padding: 1rem;
        background-color: #2d4059;
    }
    .box-one-small{
        width: 20%;
        background-color: #ea5455;
        color: #ea5455;
    }
    .box-one-large{
        width: 60%;
        background-color: #ea5455;
        color: #ea5455;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .cont-black-two{
        display: flex;
    }
    .cont-two{
        background-color: #f07b3f;
        padding: 1rem;
        margin-top: 1rem;
    }
    .box-two-xlarge{    
        background-color: #fed460;
        color: #fed460;
    }
    .cont-three{
        background-color: #4e4e6a;
        padding: 1rem;
        width: 70%;
        margin-right: 1rem;
    }
    .cont-three-left{
        display: flex;
    }
    .cont-three-left-A, .cont-three-left-B{
        width: 50%;
    }
    .cont-three-left-A{
        margin-right: 1rem;
    }
    .box-three-meduim{
        background-color: #1f6cb0;
        color: #1f6cb0;
        margin-bottom: 1rem;
    }
    .box-three-large{
        background-color: #70a3c4;
        color: #70a3c4;
    }
    .cont-four{
        background-color: #f73f52;
        padding: 1rem;
        width: 25%;
    }
    .box-four{
        background-color: #feea85;
        color: #feea85;
        margin-bottom: 1rem;
    }
    .cont-five{
        background-color: #e6af2e;
        color:#e6af2e;
    }
}
@media only screen and (max-width: 768px){
    .cont-black-two{
        background-color: #FEFF05;
        flex-direction: column;
    }
    .cont-three{
        width: 96%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .cont-four{
        width: 96%;
        margin-right: 1rem;
    }
}
@media only screen and (max-width: 600px){
    .cont-one{
        display: block;
    }
    .box-one-small, .box-one-large{
        width: 100%;
    }
    .box-one-large{
        margin-top:1rem;
        margin-left:0rem;
        margin-bottom:1rem;
        padding:0;
    }
    .cont-three-left{
        flex-direction: column;
    }
    .cont-three-left-A, .cont-three-left-B{
        width:100%;
    }
    .box-four{
        background-color: #e6af2e;
    }
}